
.nav-link{

    font-size: 195%;
    border-style: solid;
    border-color: #E03724;

}
.navbar-brand{
    font-size: 210%;
    border-color: #E03724;
    border-style: solid;

}
.nav-item {
    padding: 3px;

}

.MainBox{
    padding: 30px;
    color: black;
    background-color: white;
    border: solid;
    border-color: #E03724;
}

.Content{
    padding: 20px;
    background-color: white;
    color: black;
}

.header{
    color: black;
}

.footerBox{
    padding: 30px;
}

.container-fluid{
    !important;
    color: white;
    background-color: white;
}

.footer-cont{
color: white;
    background-color: white;
}


body{

}





